body {
  font-family: "Open Sans", sans-serif;
}

#sadrzaj {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 150px;
}

.linija {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  margin: 20px;
  padding: 5px;
  float: left;
  background-color: thistle;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 3px;
  border-radius: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.box:hover {
  border-color: #60a5fa;
  border-width: 3px;
  border-radius: 5%;
}

.box-XL:hover {
  border-color: #60a5fa;
  border-width: 3px;
  border-radius: 5%;
}

.box-2XL:hover {
  border-color: #60a5fa;
  border-width: 3px;
  border-radius: 5%;
}

.providan-box {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 5px;
  float: left;
}

.box-XL {
  margin: 20px;
  padding: 5px;
  width: 150px;
  max-width: 150px;
  height: 100px;
  max-height: 100px;
  background-color: thistle;
  float: left;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 3px;
  border-radius: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.providan-box-2XL {
  margin: 20px;
  padding: 5px;
  width: 150px;
  height: 100px;
  float: left;
}

.box-2XL {
  margin: 20px;
  padding: 5px;
  width: 200px;
  max-width: 200px;
  height: 100px;
  max-height: 100px;
  background-color: thistle;
  float: left;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 3px;
  border-radius: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.naslov {
  text-align: center;
  font-family: "Pattaya", sans-serif;
  font-size: 22px;
}

.social {
  width: 100px;
  height: 100px;
}

.navigacija {
  width: 400px;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: #818cf8;
  border-radius: 5px;
}

.link {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.blog-slika {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.blog-text {
  text-align: center;
}

.cv {
  width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-color: blue;
  border-style: solid;
  border-width: 3px;
}

.avatar {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  float: left;
}

.informacije {
  text-align: right;
}

hr {
  border-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cv-naslov {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
}

table,
th,
td {
  border: 3px solid blue;
  border-radius: 3%;
  padding: 5px;
  font-size: 24px;
}
table {
  border-spacing: 15px;
}
